@font-face {
    font-family: Roboto;
    src: url(..//../fonts/Roboto-Regular.ttf);
}

body {

    background-color: #58678B;
}

.p-div p {
    font-family: Roboto;
    font-size: 45px;
    font-weight: 300;
    line-height: 53px;
    letter-spacing: -1.7335766553878784px;
    text-align: center;

}

.box {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding-left: 25px;
    padding-right: 22px;
    padding-top: 20px;
}

.box:hover {
    border: 1.647px solid rgba(53, 142, 215, 0.21);
    transform: scale(1.05);
}

.Title1 {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: center;
    color: #43484D;
}


.btn1 {
    width: 247.12px;
    height: 49.42px;
    background-color: rgb(69, 240, 69);
    border: none;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.btn1:hover {
    background-color: #6aa948;
    box-shadow: 0px 0px 15px 0px rgba(112, 162, 88, 0.75) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(104, 176, 70, 0.75) inset;
}

#tag-1 :nth-child(1),
#tag-2 :nth-child(1),
#tag-3 :nth-child(1) {
    color: #43484D;
    font-size: 26px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#tag-1 :nth-child(1) {
    color: transparent;
}

#tag-1 :nth-child(2) {
    color: #0e9319;
    font-size: 26px;
    display: flex;
    justify-content: center;
}


#tag-1 :nth-child(3) {
    margin-top: -20px;
}

#tag-1 :nth-child(3) {
    color: #0e9319;

}

#tag-2 :nth-child(3),
#tag-3 :nth-child(3) {
    color: #43484D;
}